<header class="py-5">
  <div class="flex justify-between items-center gap-5">
    <a href="/">
      <figure>
        <img src="/assets/logo.png" alt="logo" height="50" width="120" />
      </figure>
    </a>

    <nav class="flex items-center">
      <a href="#" class="link">Stay</a>
      <a href="#" class="link">Experiences</a>
    </nav>

    <div>
      <a href="#" class="link text-slate-600">Airbnb your home</a>
      <a href="#" class="link text-slate-600">
        <i class="fa-solid fa-globe text-[1rem]"></i>
      </a>
    </div>
  </div>
</header>
