<header class="py-3.5 mb-3 border-b-2 border-slate-100">
  <div class="flex justify-between items-center gap-5 relative">
    <a routerLink="/">
      <figure>
        <img src="/assets/logo.png" alt="logo" height="50" width="120" />
      </figure>
    </a>
    <app-header-small-search-box />
    <div>
      <a href="#" class="link text-slate-600">Airbnb your home</a>
      <a href="#" class="link text-slate-600">
        <i class="fa-solid fa-globe text-[1rem]"></i>
      </a>
    </div>
  </div>
</header>
