<div class="max-w-[1780px] m-auto px-[2vw]">
  <app-header />
  <app-navigation-links [queryParam]="tab_id" />
  <section class="py-7 min-h-screen">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5 gap-6 gap-y-8"
    >
      @for (room of rooms.data; track room.id) {
      <app-normal-card [room]="room" />
      }
    </div>
    <div class="py-16 flex items-center justify-center flex-col gap-2">
      <h4 class="text-[1.1rem] font-medium">Continue exploring rooms</h4>
      <app-button class="bg-black rounded-lg py-1.5 hover:bg-black"
        >Show more</app-button
      >
    </div>
  </section>
</div>
<app-footer />
