/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Keeping white background */
    --foreground: 0 0% 0%; /* Black text foreground */
    --card: 0 0% 100%; /* White card background */
    --card-foreground: 0 0% 0%; /* Black card text */
    --popover: 0 0% 100%; /* White popover */
    --popover-foreground: 0 0% 0%; /* Black popover text */

    --primary: 346 98% 68%; /* primary color */
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 5.9% 10%; /* Darker shade for secondary elements */
    --secondary-foreground: 0 0% 100%; /* White text on secondary */

    --muted: 0 0% 90%; /* Light gray for muted */
    --muted-foreground: 0 0% 0%; /* Black text on muted */

    --accent: 0 0% 90%; /* Light gray for accent */
    --accent-foreground: 0 0% 0%; /* Black text on accent */

    --destructive: 0 84.2% 60.2%; /* Red for destructive actions */
    --destructive-foreground: 0 0% 98%; /* White text on red */

    --border: 0 0% 80%; /* Light gray border */
    --input: 0 0% 90%; /* Light gray input background */
    --ring: 346 98% 68%; /* Updated ring color to match primary */

    --radius: 0.5rem; /* Keeping the same border radius */

    --chart-1: 48 100% 50%; /* BNB Yellow for chart */
    --chart-2: 0 0% 0%; /* Black for chart elements */
    --chart-3: 0 0% 80%; /* Light gray for charts */
    --chart-4: ; /* You can add more custom colors if needed */
    --chart-5: ;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
