<header class="py-3.5 border-b-2 border-slate-100 top-0 sticky bg-white z-50">
  <div class="flex justify-between items-start gap-5 relative">
    <a routerLink="/">
      <figure>
        <img src="/assets/logo.png" alt="logo" height="50" width="120" />
      </figure>
    </a>

    @if (currentPath === "/") {
    <app-header-small-search-box
      [expand]="expand"
      (expandChange)="setExpand($event)"
    />
    @if (expand === true) {
    <div
      class="overflow-hidden transition-all ease-out h-0 hidden lg:block"
      [ngClass]="{ 'h-[9rem]': expand }"
    >
      <app-header-large-search-box />
    </div>
    } }

    <div class="flex items-center justify-center">
      <a href="#"
        ><span
          class="text-sm font-medium text-slate-600 rounded-full hover:bg-slate-100 py-3 px-4"
          >Airbnb your home</span
        ></a
      >
      <a routerLink="/liked-rooms"
        ><span
          class="text-base font-medium text-slate-600 rounded-full hover:bg-slate-100 py-3 px-4"
          ><i class="fa-solid fa-heart"></i></span
      ></a>
      <a
        href="#"
        class="text-sm font-medium rounded-full hover:bg-slate-50 text-slate-600 flex items-center justify-center py-3 px-4"
      >
        <i class="fa-solid fa-globe text-[1rem]"></i>
      </a>

      <app-dropdown variant="left" label="aksjkas">
        <div class="flex flex-col">
          <a
            href="#"
            class="p-2 hover:bg-slate-100 flex gap-2 items-center text-sm font-medium text-slate-600 hover:text-slate-800"
          >
            <span>My Profile</span>
          </a>
          <a
            routerLink="/liked-rooms"
            class="p-2 hover:bg-slate-100 flex gap-2 items-center text-sm font-medium text-slate-600 hover:text-slate-800"
          >
            <span>Liked rooms</span>
          </a>
          <a
            href="#"
            class="flex p-2 hover:bg-slate-100 gap-2 items-center text-sm font-medium text-slate-600 hover:text-slate-800"
          >
            <span>Notifications</span>
          </a>

          <a
            href="/signup"
            class="flex p-2 hover:bg-slate-100 gap-2 items-center text-sm font-medium text-slate-600 hover:text-slate-800"
          >
            <span>Signup</span>
          </a>

          <button
            class="flex p-2 hover:bg-slate-100 gap-2 items-center text-sm font-medium text-slate-600 hover:text-slate-800"
            (click)="openModal()"
          >
            <span>Login</span>
          </button>
        </div>
      </app-dropdown>
    </div>
  </div>
</header>
