<div
  class="flex-col gap-6 top-1/2 absolute left-1/2 -translate-x-1/2 -translate-y-1/2 hidden lg:flex"
>
  <div class="flex items-center justify-center">
    <a href="#"
      ><span
        class="text-sm font-medium text-slate-600 rounded-full hover:bg-slate-100 py-3 px-2"
        >Stays</span
      ></a
    >
    <a href="#"
      ><span
        class="text-sm font-medium text-slate-600 rounded-full hover:bg-slate-100 py-3 px-2"
        >Experiences</span
      ></a
    >
  </div>
  <div
    class="rounded-[3rem] transition-shadow duration-800 ease-linear shadow-md hover:shadow-lg lg:flex items-center gap-4 border px-1 py-1 bg-white"
  >
    <app-button
      variant="ghost"
      class="py-2 px-5 hover:no-underline text-slate-600 flex-col items-start gap-0 hover:bg-slate-100 rounded-full"
    >
      <span class="text-[0.8rem] font-semibold">Where</span>
      <span class="text-[0.8rem] text-slate-500">Search Destination</span>
    </app-button>
    <span class="w-[1px] h-[2rem] bg-black opacity-20"></span>
    <app-button
      variant="ghost"
      class="py-2 px-5 hover:no-underline text-slate-600 flex-col items-start gap-0 hover:bg-slate-100 rounded-full"
    >
      <span class="text-[0.8rem] font-semibold">Check in</span>
      <span class="text-[0.8rem] text-slate-500">Add dates</span>
    </app-button>
    <span class="w-[1px] h-[2rem] bg-black opacity-20"></span>

    <app-button
      variant="ghost"
      class="py-2 px-5 hover:no-underline text-slate-600 flex-col items-start gap-0 hover:bg-slate-100 rounded-full"
    >
      <span class="text-[0.8rem] font-semibold">Check out</span>
      <span class="text-[0.8rem] text-slate-500">Add dates</span>
    </app-button>
    <span class="w-[1px] h-[2rem] bg-black opacity-20"></span>

    <app-button
      variant="ghost"
      class="py-2 px-5 hover:no-underline text-slate-600 flex-col items-start gap-0 hover:bg-slate-100 rounded-full"
    >
      <span class="text-[0.8rem] font-semibold">Who</span>
      <span class="text-[0.8rem] text-slate-500">Add guests</span>
    </app-button>
    <app-button class="rounded-full px-2 py-2">
      <i class="fa-solid fa-magnifying-glass p-1.5"></i>
    </app-button>
  </div>
</div>
