<footer class="bg-[#F6F7F6]">
  <div class="max-w-[1780px] m-auto px-[2vw]">
    <div class="py-6 flex flex-col gap-10">
      <app-footer-navigation />

      <div class="grid grid-cols-3 border-b-2 pb-10">
        <div class="flex flex-col gap-4">
          <h3 class="text-sm font-medium">Support</h3>
          <ul
            class="[&>li]:text-sm hover:[&>li]:underline hover:[&>li]:cursor-pointer [&>li]:w-fit flex flex-col gap-3"
          >
            <li>Help Center</li>
            <li>AirCover</li>
            <li>Anti-discrimination</li>
            <li>Disability support</li>
            <li>Cancellation options</li>
            <li>Report neighborhood concern</li>
          </ul>
        </div>

        <div class="flex flex-col gap-4">
          <h3 class="text-sm font-medium">Hosting</h3>
          <ul
            class="[&>li]:text-sm hover:[&>li]:underline hover:[&>li]:cursor-pointer [&>li]:w-fit flex flex-col gap-3"
          >
            <li>Airbnb your home</li>
            <li>AirCover for Hosts</li>
            <li>Hosting resources</li>
            <li>Community forum</li>
            <li>Hosting responsibly</li>
            <li>Airbnb-friendly apartments</li>
            <li>Join a free Hosting class</li>
          </ul>
        </div>

        <div class="flex flex-col gap-4">
          <h3 class="text-sm font-medium">Airbnb</h3>
          <ul
            class="[&>li]:text-sm hover:[&>li]:underline hover:[&>li]:cursor-pointer [&>li]:w-fit flex flex-col gap-3"
          >
            <li>Newsroom</li>
            <li>New features</li>
            <li>Careers</li>
            <li>Investors</li>
            <li>Gift cards</li>
            <li>Airbnb.org emergency stays</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex justify-between pb-6">
      <div class="flex items-center gap-2">
        <p class="text-sm font-normal">© 2024 Airbnb, Inc.</p>
        <ul class="flex gap-x-4 [&>li]:text-sm [&>li]:font-normal">
          <li>Terms</li>
          <li>Sitemap</li>
          <li>Privacy</li>
          <li>Your Privacy</li>
          <li>Choices</li>
        </ul>
      </div>

      <div class="flex items-center gap-7">
        <div>
          <span class="font-normal text-sm flex items-center gap-2"
            ><i class="fa-solid fa-globe"></i>English (US)</span
          >
        </div>

        <div>
          <span class="font-normal text-sm flex items-center gap-2">
            <i class="fa-solid fa-euro-sign"></i> EUR</span
          >
        </div>

        <div
          class="[&>i]:bg-black [&>i]:text-white [&>i]:p-1 [&>i]:size-6 [&>i]:flex [&>i]:items-center [&>i]:justify-center flex items-center gap-4"
        >
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
